<form [formGroup]="editForm" (submit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Название теста</mat-label>
    <input matInput placeholder="Название" formControlName="title" required>
    <mat-error *ngIf="editForm.controls['title'].invalid">
      <p>Заполните это поле</p>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="outline">
    <mat-label>Описание теста</mat-label>
    <textarea matInput placeholder="Описание" formControlName="description" required></textarea>
    <mat-error *ngIf="editForm.controls['description'].invalid">
      <p>Заполните это поле</p>
    </mat-error>
  </mat-form-field>
  <br>
  <h6>Вопрос №{{index+1}}</h6>
  <form [formGroup]="questionForm">
    <mat-form-field appearance="outline">
      <mat-label>Текст вопроса</mat-label>
      <input matInput placeholder="Вопрос" formControlName="question_title" required>
      <mat-error *ngIf="questionForm.controls['question_title']">
        <p></p>
      </mat-error>
    </mat-form-field>
    <br>
    <ul>
      <li *ngFor="let item of questionForm.controls['answers']['controls']">
        <form [formGroup]='item'>
          <input matInput placeholder="Index" formControlName="index" required hidden>
          <input matInput placeholder="Id" formControlName="id" required hidden>
          <mat-form-field appearance="outline">
            <mat-label>Ответ</mat-label>
            <input matInput placeholder="Ответ" formControlName="answer_text" required>
            <mat-error *ngIf="item.controls['answer_text'].invalid">
              <p>Заполните это поле</p>
            </mat-error>
          </mat-form-field>
          <mat-checkbox formControlName="is_correct" required>правильный</mat-checkbox>
        </form>
      </li>
    </ul>
    <button mat-stroked-button color=primary (click)="addAnswer()">Добавить ответ</button>
  </form>
  <button [hidden]="hasPrev" mat-stroked-button color=primary (click)="previousQuestion()" type="button">Предыдущий
    вопрос</button>
  <button [hidden]="hasNext" mat-stroked-button color=primary (click)="nextQuestion()" type="button">Следующий
    вопрос</button>

  <button [hidden]="addNext" mat-stroked-button color=primary (click)="addQuestion()" type="button">Добавить вопрос
  </button>
  <button mat-stroked-button color=primary type="submit">Сохранить</button>


</form>
