<form [formGroup]="registerForm" novalidate>
    <p>Регистрация</p>
    <mat-form-field class="half-width" appearance="outline">
        <mat-label>Введите имя</mat-label>
        <input placeholder="Имя" matInput>
    </mat-form-field>

    <mat-form-field class="half-width" appearance="outline">
        <mat-label>Введите почту</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="half-width" appearance="outline">
        <mat-label>Введите пароль</mat-label>
        <input placeholder="Пароль" matInput type="password">
    </mat-form-field>
    <mat-form-field class="half-width" appearance="outline">
        <mat-label>Повторите пароль</mat-label>
        <input placeholder="Пароль" matInput type="password">
    </mat-form-field>
    <br>
        <label>Я: </label>
        <mat-radio-group>
            <mat-radio-button value="auto">Ученик</mat-radio-button>
            <mat-radio-button value="always">Учитель</mat-radio-button>
        </mat-radio-group>
    <br>
    <button mat-stroked-button color=primary>Зарегестрироваться</button>
</form>